# Build e artefatos
bin/
obj/
publish/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider/IntelliJ
.idea/
*.sln.iml

# Arquivos de lançamento/de depuração
launchSettings.json

# Logs, caches e resultados de testes
*.log
TestResults/
coverage/
*.coverage
*.coveragexml

# Pacotes e dependências
*.nupkg
packages/

# Arquivos de configurações locais de appsettings
appsettings.Development.json
appsettings.Local.json

# User secrets
secrets.json

# MacOS
.DS_Store

# Node/npm
node_modules/
dist/
