@page "/weather"
@inject WeatherViewModel Vm

<PageTitle>Weather</PageTitle>
<h1>Weather</h1>

@if (Vm.Forecasts == null)
{
    <p><em>Loading…</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr><th>Date</th><th>Temp. (C)</th><th>Temp. (F)</th><th>Summary</th></tr>
        </thead>
        <tbody>
        @foreach (var f in Vm.Forecasts)
        {
            <tr>
                <td>@f.Date.ToShortDateString()</td>
                <td>@f.TemperatureC</td>
                <td>@f.TemperatureF</td>
                <td>@f.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync() 
        => await Vm.LoadAsync();
}